<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>StayHunt</title>
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
            integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        /> 
       <link rel="stylesheet" href="/alllistings.css">
    </head>
    <body>
        <%- include('includes/navbar') %>
        <!-- Main content -->
        <h1>All Listings</h1>
        <main class="card-container">
            <% for(let list of alllistings){ %>
            <div class="card">
                <a href="/listings/<%= list._id %>">
                    <img
                        src="<%= list.url %>"
                        alt="Listing image"
                        class="card-image"
                    />
                </a>
                <div>
                    <a class="card-title" href="/listings/<%= list._id %>"
                        ><%= list.title %></a
                    >
                    <h6 class="card-price">
                        &#8377; 
                        <%= typeof list.price === "number"? list.price.toLocaleString("en-IN"): "N/A" %>
                        /night<span>★</span>
                    </h6>
                </div>
            </div>
            <% } %>
        </main>
        <%- include('includes/footer') %>
    </body>
</html>
