<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>StayHunt- Listing</title>
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
            integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        />
        <link rel="stylesheet" href="/n.css" />
        <style>
            * {
                margin: 0;
                padding: 0;
                box-sizing: border-box;
                font-family: sans-serif;
            }

            /* Navbar */
            .navbar {
                background-color: #fff;
                position: fixed;
                top: 0;
                margin-bottom: 100px;
                height: 45px;
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0 20px;
                border-bottom: 1px solid #dcd7d7;
            }

            .navleft,
            .navright {
                display: flex;
                gap: 20px;
            }

            .navbar a {
                text-decoration: none;
                font-size: 12px;
                color: #333;
            }

            .navbar a:hover {
                color: #ff002f;
            }

            /* Main page */
            .page {
                max-width: 800px;
                margin: 30px auto;
                padding: 0 20px;
            }
            .back {
                display: block;
                margin: 80px 0 40px 0;
                font-size: 14px;
                text-decoration: none;
                color: black;
            }

            .title {
                font-size: 22px;
                font-weight: 600;
                margin-bottom: 15px;
            }

            .image {
                width: 100%;
                height: 200px;
                margin-bottom: 15px;
                background-color: rgba(232, 236, 231, 0.734);
                object-fit: cover;
                overflow: hidden;
                transition:
                    transform 0.5s ease,
                    height 0.25s ease;
                display: block;
                border-radius: 14px;
            }
            .image:hover {
                transform: translateY(-6px);
                height: 400px;
            }
            .description {
                font-size: 17px;
                margin: 8px 0;
                color: #444;
                line-height: 1.5;
                margin-bottom: 20px;
            }

            .price {
                font-size: 16px;
                font-weight: 600;
                margin-bottom: 25px;
            }

            .rating {
                font-size: 14px;
            }
            .about {
                margin-bottom: 20px;
            }
            .location {
                font-size: 14px;
                color: #555;
                margin-bottom: 20px;
            }

            .country {
                font-size: 14px;
                color: #555;
                margin-bottom: 30px;
            }

            .actions {
                display: flex;
                gap: 10px;
            }

            .editbtn {
                background: #ff385c;
                color: white;
                border: none;
                padding: 8px 16px;
                border-radius: 8px;
                cursor: pointer;
            }

            .deletebtn {
                background: #222;
                color: white;
                border: none;
                padding: 8px 16px;
                border-radius: 8px;
                cursor: pointer;
            }
            /* Registration */
            .booking-box {
                width: 100%;
                border: 1px solid #ddd;
                border-radius: 14px;
                padding: 16px;
                margin: 30px 0;
                box-shadow: 0 4px 16px rgba(0, 0, 0, 0.08);
            }

            .fees {
                display: flex;
                align-items: center;
                gap: 8px;
                font-size: 13px;
                margin-bottom: 12px;
            }
            .fees b {
                font-size: 25px;
                margin: 0;
                padding: 0 0 10px 0;
            }

            .total {
                font-size: 18px;
                font-weight: 600;
                margin-bottom: 12px;
            }

            .dates {
                border: 1px solid #ccc;
                border-radius: 10px;
                overflow: hidden;
                margin-bottom: 12px;
            }

            .date-row {
                display: flex;
            }

            .date {
                width: 50%;
                padding: 10px;
                border-right: 1px solid #ccc;
            }

            .date:last-child {
                border-right: none;
            }

            .label {
                font-size: 11px;
                font-weight: 600;
                margin-bottom: 4px;
            }

            .value {
                font-size: 13px;
            }

            .guests {
                border-top: 1px solid #ccc;
                padding: 10px;
                font-size: 13px;
                display: flex;
                justify-content: space-between;
            }

            .reserve-btn {
                width: 100%;
                padding: 12px;
                background: linear-gradient(to right, #ff385c, #e61e4d);
                color: white;
                border: none;
                border-radius: 24px;
                font-size: 15px;
                cursor: pointer;
                margin-top: 12px;
            }

            .note {
                text-align: center;
                font-size: 12px;
                margin-top: 10px;
                color: #555;
            }

            .report {
                margin-top: 14px;
                text-align: center;
                font-size: 13px;
                color: #555;
                cursor: pointer;
            }
            /* Footer */
            .footer {
                width: 100%;
                background-color: #f1f0f0;
                padding: 50px;
                margin-top: 150px;
                position: relative;
                bottom: 0px;
            }
            .links {
                display: flex;
                gap: 15px;
                justify-content: center;
                margin-bottom: 25px;
            }
            .contact,
            .limited,
            .policy {
                display: flex;
                justify-content: center;
            }
            .contact p,
            .limited p,
            .policy p {
                margin: 5px;
            }
        </style>
    </head>

    <body>
        <!-- Navbar -->
        <nav class="navbar">
            <div class="navleft">
                <i
                    class="fa-regular fa-compass"
                    style="color: #ff002f; font-size: 15px"
                ></i>
                <a href="/listings">Home</a>
                <a href="/experiences">Experiences</a>
                <a href="/services">Services</a>
            </div>
            <div class="navright">
                <a href="/listings/new">Add New listing</a>
                <a href="/lang">EN</a>
                <a href="/help">Help</a>
            </div>
        </nav>

        <!-- Main Content -->
        <main class="page">
            <a href="/listings" class="back">← Back to All Listings</a>
            <h3 class="title"><%= specificlist[0].title %></h3>

            <img
                src="<%= specificlist[0].url %>"
                alt="Listing image"
                class="image"
            />

            <div class="details">
                <p class="description"><%= specificlist[0].description %></p>

                <p class="price">
                    ₹<%= specificlist[0].price %> / night
                    <span class="rating">★</span>
                </p>
                <p class="about">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                    Sequi, maiores fuga debitis eos voluptatibus veniam in
                    provident, animi ut ullam voluptatem aut minima nostrum
                    porro. Voluptate dolor ratione commodi accusamus. Lorem
                    ipsum dolor sit amet consectetur adipisicing elit.
                    Reiciendis fuga libero accusantium optio numquam. Omnis
                    molestias, incidunt voluptates fuga harum nobis quaerat sed
                    expedita officia ut maxime doloribus voluptatum illo. Nisi
                    quae debitis voluptatum sit quibusdam ullam, repellendus
                    architecto officiis aliquam provident atque ipsam, unde
                    possimus! Facilis ab placeat repellendus dignissimos
                    laboriosam odit? Fuga qui iste eum quisquam explicabo
                    laborum. Lorem ipsum dolor sit amet consectetur adipisicing
                    elit. Nihil, tempora magni voluptates facere eius fugiat
                    sapiente. A natus quas quam tenetur sequi temporibus
                    veritatis, quo voluptatibus, voluptas, odit enim eos?
                    Explicabo porro nostrum laborum maxime totam possimus
                    tenetur perspiciatis voluptatem numquam, ad cum officiis
                    fuga voluptas eos necessitatibus blanditiis quaerat illum,
                    quidem saepe, ut earum. In ab quibusdam dicta nesciunt? Cum
                    maxime vel facere ducimus consequuntur illum commodi
                    consectetur placeat? Eveniet temporibus tenetur quas fuga
                    alias, reprehenderit est quibusdam optio eos. Explicabo
                    veniam eveniet temporibus quis excepturi maiores, deleniti
                    nobis.
                </p>
                <div class="booking-box">
                    <div class="fees"><b>🏷</b> Prices include all fees</div>

                    <div class="total">
                        ₹<%= specificlist[0].price %>
                        <span style="font-size: 14px; font-weight: normal"
                            >for 1 nights</span
                        >
                    </div>

                    <div class="dates">
                        <div class="date-row">
                            <div class="date">
                                <div class="label">CHECK-IN</div>
                                <input
                                    type="datetime-local"
                                    style="border: none"
                                />
                            </div>
                            <div class="date">
                                <div class="label">CHECKOUT</div>
                                <input
                                    type="datetime-local"
                                    style="border: none"
                                />
                            </div>
                        </div>

                        <div class="guests">
                            <span>GUESTS</span>
                            <select
                                name="Guests"
                                id="guestnumber"
                                style="border: none"
                            >
                                <option value="1">1 Person</option>
                                <option value="2">2 Person</option>
                                <option value="3">3 Person</option>
                                <option value="4">4 Person</option>
                            </select>
                        </div>
                    </div>

                    <button class="reserve-btn">Reserve</button>

                    <div class="note">You won't be charged yet</div>

                    <div class="report">🚩 Report this listing</div>
                </div>

                <p class="location">City : <%= specificlist[0].location %></p>
                <p class="country">Country : <%= specificlist[0].country %></p>

                <div class="actions">
                    <form action="/listings/<%= specificlist[0]._id %>/edit">
                        <button class="editbtn">Edit</button>
                    </form>
                    <form action="/listings/<%= specificlist[0]._id %>/delete">
                        <button class="deletebtn">Delete</button>
                    </form>
                </div>
            </div>
        </main>
        <!-- Footer -->
        <div class="footer">
            <div class="links">
                <a class="fa-brands fa-instagram"></a>
                <a class="fa-brands fa-linkedin"></a>
                <a class="fa-brands fa-github"></a>
                <a class="fa-brands fa-square-x-twitter"></a>
                <a class="fa-brands fa-discord"></a>
                <a class="fa-solid fa-link"></a>
            </div>
            <div class="contact">
                <p>stayhunt@gmail.com &nbsp; yamuna845@gmail.com</p>
            </div>
            <div class="limited"><p>&copy;StayHunt Inc</p></div>

            <div class="policy">
                <p>·Privacy · TermsCompany · Details</p>
            </div>
        </div>
    </body>
    <script src="/N.js"></script>
</html>
