<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>StayHunt- Listing</title>
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
            integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        />
        <link rel="stylesheet" href="/listing.css" />
    </head>
    <body>
        <%- include('includes/navbar') %>
        <!-- Main Content -->
        <main class="page">
            <a href="/listings" class="back">← Back to All Listings</a>
            <h3 class="title"><%= specificlist[0].title %></h3>

            <img
                src="<%= specificlist[0].url %>"
                alt="Listing image"
                class="image"
            />

            <div class="details">
                <p class="description"><%= specificlist[0].description %></p>

                <p class="price">
                    ₹<%= specificlist[0].price %> / night
                    <span class="rating">★</span>
                </p>
                <p class="about"><%- include('includes/lorem') %></p>
                <%- include('includes/reservation') %>

                <p class="location">City : <%= specificlist[0].location %></p>
                <p class="country">Country : <%= specificlist[0].country %></p>

                <div class="actions">
                    <form action="/listings/<%= specificlist[0]._id %>/edit">
                        <button class="editbtn">Edit</button>
                    </form>
                    <form action="/listings/<%= specificlist[0]._id %>/delete">
                        <button class="deletebtn">Delete</button>
                    </form>
                </div>
            </div>
        </main>
        <%- include('includes/footer') %>
    </body>
</html>
